@keyframes fade-in-out {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
  
  .animate-fade-in-out {
    animation: fade-in-out 5s ease-in-out forwards;
  }

  @keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 5s ease-in-out forwards;
}

.progress-container {
  margin-top: 8px;
  width: 200px;
  height: 20px;
  background-color: #2D3748; /* Un gris oscuro para el fondo */
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #4B5563; /* Borde gris para contraste */
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #4F46E5, #A855F7); /* Gradiente índigo a púrpura */
  transition: width 1s linear;
}

.time-remaining {
  margin-top: 4px;
  font-size: 14px;
  color: #D1D5DB; /* Gris claro para el texto */
  text-align: right;
}